In [1]:
# Installing sklearn library(Machine Learning library which consists of famous algorithms)

!pip install sklearn

Requirement already satisfied: sklearn in g:\softwares\anaconda\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in g:\softwares\anaconda\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in g:\softwares\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in g:\softwares\anaconda\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in g:\softwares\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: numpy>=1.13.3 in g:\softwares\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.20.3)

In [2]:
# Importing necessary libraries

import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [3]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 6CFF-A6E8

 Directory of C:\Users\Soori\Desktop\TN-Assignments\TakenMindIntern\Assignment 4

03/09/2022  12:26 AM    <DIR>          .
03/09/2022  12:26 AM    <DIR>          ..
03/08/2022  11:44 PM    <DIR>          .ipynb_checkpoints
09/19/2019  03:05 AM            10,240 database.sqlite
03/09/2022  12:26 AM            19,786 Iris - Decision Tree Classifier.ipynb
09/19/2019  03:05 AM             5,107 Iris.csv
               3 File(s)         35,133 bytes
               3 Dir(s)   8,306,003,968 bytes free

In [4]:
# Importing Iris.csv data file to a DataFrame

iris = pd.read_csv('Iris.csv')

In [5]:
# Shape

iris.shape

(150, 6)

In [6]:
# Describe

iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
# Number of null values

iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

No null values at any feature. Therefore, no need to fill or remove null values

In [8]:
# First 5 data points

iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
# Separate dataset into 2 pieces
    # 1. Features -----> X
    # 2. Label    -----> Y

X = iris[iris.columns[1:-1]]
y = iris["Species"]

In [10]:
# First 5 data points in features / X

X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
# Shape of X

X.shape

(150, 4)

In [12]:
# First 5 data points in label / y

y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [13]:
# Shape of y

y.shape

(150,)

In [14]:
# Labels and their counts

y.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

It is a balanced dataset

In [15]:
# 70% train set & 30% test set split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [16]:
# Shapes of each 4 data

print ("Training features shape is", X_train.shape)
print ("Testing features shape is", X_test.shape)
print ("Training label shape is", y_train.shape)
print ("Testing label shape is", y_test.shape)

Training features shape is (105, 4)
Testing features shape is (45, 4)
Training label shape is (105,)
Testing label shape is (45,)

In [17]:
# Initializing decision tree classifier algorithm as an object

clf = DecisionTreeClassifier(random_state=0)

In [18]:
# Train the train set (X_train & y_train) on the decision tree classifier object

clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [19]:
# predicting result for train input

predict_train = clf.predict(X_train)

In [20]:
# predicting result for test input

predict_test = clf.predict(X_test)

In [21]:
# Accuracies of train and test sets.....

print ("Train set accuracy is", str(accuracy_score(y_train, predict_train) * 100) + "%")

print ("Test set accuracy is", str(accuracy_score(y_test, predict_test) * 100) + "%")

Train set accuracy is 100.0%
Test set accuracy is 100.0%